cdk-virtual-scroll-viewport {
    height: 100%;
    width: 100%;
}

:host {
    height: 100%;
    width: 100%;

    img {
        background-size: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    mat-card {
        margin: 8px 200px;
    }

    a {
        color: #ce93d8;
        text-decoration: none;
    }
}
