<ng-container *ngIf="post$ | async as post">
    <mat-card class="main-container">
        <mat-card-header *ngIf="owner$ | async as owner">
            <div class="example-header-image" mat-card-avatar>
                <img [src]="owner.photoURL" />
            </div>
            <mat-card-title>{{ post.title }}</mat-card-title>
            <mat-card-subtitle>{{ owner.displayName }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <span [style.white-space]="'pre-line'">{{ post.body }}`</span>
        </mat-card-content>
    </mat-card>

    <mat-card class="main-container">
        <mat-card-header class="comments-header">
            <mat-card-title>Comments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-card class="write-comment">
                <mat-card-header>
                    <div *ngIf="owner$ | async as owner" class="example-header-image" mat-card-avatar>
                        <img [src]="owner?.photoURL" />
                    </div>
                </mat-card-header>
                <mat-card-content style="display: flex; flex-direction: row">
                    <mat-form-field class="example-full-width">
                        <textarea #inputArea mat-autosize matInput placeholder="Leave a comment"></textarea>
                    </mat-form-field>
                    <button (click)="sendComment(post, inputArea.value); inputArea.value = ''" mat-icon-button>
                        <mat-icon>send</mat-icon>
                    </button>
                </mat-card-content>
            </mat-card>
            <mat-card *ngFor="let comment of post?.comments" class="comment">
                <mat-card-header>
                    <div *ngIf="comment.owner.photoURL" class="example-header-image" mat-card-avatar>
                        <img [src]="comment.owner.photoURL" />
                    </div>
                    <mat-card-title>
                        {{ comment.owner.displayName }}
                        <div class="rating-container">
                            <button
                                (click)="manageRating(post, comment, 'down')"
                                [disabled]="isDisliked(comment)"
                                color="warn"
                                mat-icon-button
                            >
                                <mat-icon>thumb_down</mat-icon>
                            </button>
                            <ng-container *ngIf="comment?.rating || '0' as rating">
                                {{ (rating > 0 ? '+' : '') + rating }}
                            </ng-container>
                            <button
                                (click)="manageRating(post, comment, 'up')"
                                [disabled]="isLiked(comment)"
                                [style.color]="isLiked(comment) ? null : 'limegreen'"
                                mat-icon-button
                            >
                                <mat-icon>thumb_up</mat-icon>
                            </button>
                        </div>
                    </mat-card-title>
                    <!--                    <mat-card-subtitle>Carma: {{ comment.owner?.carma }}</mat-card-subtitle>-->
                </mat-card-header>
                <mat-card-content>
                    <span style="white-space: pre-line">{{ comment.comment?.replace(wordsRegExp, '*') }}</span>
                </mat-card-content>
            </mat-card>
        </mat-card-content>
    </mat-card>
</ng-container>
