@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

html,
body {
    height: 100%;
}

body {
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    margin: 0;
}

::-webkit-scrollbar {
    border-radius: 4px;
    margin: 2px 0;
    width: 10px;
}

// Track
::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 4px;
    margin: 2px 0;
}

// Handle
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
    margin: 2px 0;

    &:hover {
        background: #555;
        border-radius: 4px;
    }
}
