<div>
  <mat-card>
    <mat-card-content>
      <mat-tab-group [selectedIndex]="stepIndex">
        <mat-tab label="First">
          <span class="mat-display-2">Welcome</span>
          <div class="login-form">
            <mat-form-field>
              <input #loginInput matInput placeholder="Login">
            </mat-form-field>
            <mat-form-field>
              <input #passInput matInput [type]="'password'" placeholder="Password">
            </mat-form-field>
          </div>
        </mat-tab>
        <mat-tab label="Second">
          <span class="mat-display-2">Create new user</span>
          <div class="login-form">
            <mat-form-field>
              <input #newLoginInput matInput placeholder="Login">
            </mat-form-field>
            <mat-form-field>
              <input #newPassInput matInput [type]="'password'" placeholder="Password">
            </mat-form-field>
            <mat-form-field>
              <input #newReEnterPassInput matInput [type]="'password'" placeholder="Re-enter password">
            </mat-form-field>
          </div>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions align="end">
      <a mat-button color="primary"
         (click)="stepIndex = stepIndex === 1 ? 0: 1">{{stepIndex === 1 ? 'Cancel' : 'Sign up'}}</a>
      <button mat-raised-button color="primary"
              (click)="stepIndex === 1 ? createUser() : login()">
        {{stepIndex === 1 ? 'Create' : 'Sign in'}}
      </button>
    </mat-card-actions>
  </mat-card>
</div>


