<cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
  <div class="header-actions">
    <button mat-raised-button class="add-btn" color="primary"
            (click)="dialog.open(addDlg)">
      Add new
    </button>
    <span style="flex: 1"></span>
    <button mat-raised-button class="del-btn" color="primary"
            [disabled]="!listToRemove.length">
      Delete selected
    </button>
  </div>

  <mat-card *cdkVirtualFor="let forum of posts; templateCacheSize: 0" class="example-item">
    <mat-card-header>
      <div mat-card-avatar class="header-checkbox">
        <mat-checkbox
          (change)="changeCheck(forum, $event.checked)">
        </mat-checkbox>
      </div>
      <mat-card-title><a mat-list-item routerLink="/forum/{{forum.i_post}}">{{forum.title}}</a></mat-card-title>
      <button mat-icon-button class="edit-btn"
              (click)="editedPost=forum; dialog.open(editDlg)">
        <mat-icon>edit</mat-icon>
      </button>

    </mat-card-header>
    <mat-card-content>
      <p>
        {{forum.body}}
      </p>
    </mat-card-content>
  </mat-card>
</cdk-virtual-scroll-viewport>


<ng-template #addDlg>
  <h2 matDialogTitle>Add new post</h2>
  <mat-dialog-content class="add-dlg-content">
    <mat-form-field>
      <input #title matInput placeholder="Title" value="Sushi">
    </mat-form-field>

    <mat-form-field>
      <textarea #inputArea matInput placeholder="Body"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button matDialogClose color="primary">Cancel</button>
    <button mat-flat-button matDialogClose color="primary" (click)="addPost(title.value, inputArea.value)">Add</button>
  </mat-dialog-actions>
</ng-template>

<ng-template #editDlg>
  <h2 matDialogTitle>Edit post "{{editedPost.title}}"</h2>
  <mat-dialog-content class="add-dlg-content">
    <mat-form-field>
      <input #title matInput placeholder="Title" [value]="editedPost.title">
    </mat-form-field>
    <mat-form-field>
      <textarea #inputArea matInput mat-autosize
                placeholder="Body"
                [value]="editedPost.body">
      </textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-flat-button matDialogClose color="primary">Cancel</button>
    <button mat-flat-button matDialogClose color="primary" (click)="updatePost(title.value, inputArea.value)">Update
    </button>
  </mat-dialog-actions>
</ng-template>
