<app-bar [drawer]="drawer"></app-bar>
<mat-drawer-container autosize>
    <mat-drawer #drawer [opened]="true" [mode]="'side'">
        <mat-nav-list>
            <a mat-list-item [routerLink]="['forum']"> Forums </a>
            <a mat-list-item [routerLink]="['myposts']">
                <!--[class.disabled-mat-item]="noAccessToCreate"-->
                <!--[matTooltip]="noAccessToCreate ? 'Leave 10 comment before create your own posts' : null"-->
                <span> My posts </span>
                <!--<mat-icon *ngIf="noAccessToCreate" [style.margin-left.px]="24">report</mat-icon>-->
            </a>
            <!--<a mat-list-item [class.disabled-mat-item]="notImplemented" [routerLink]="'/top5wposts'"> Top 5 posts </a>-->
        </mat-nav-list>
    </mat-drawer>

    <div class="sidenav-content">
        <router-outlet></router-outlet>
    </div>
</mat-drawer-container>
