mat-drawer-container {
    height: calc(100% - 64px);
}

mat-drawer {
    width: 300px;
}

.sidenav-content {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
}
