.example-viewport {
    height: 100%;
    width: 100%;
}

::ng-deep {
    .add-dlg-content {
        // stylelint-disable-next-line declaration-no-important -- We should change container
        display: flex !important;
        flex-direction: column;
        height: 500px;
        width: 750px;
    }
}

:host {
    height: 100%;
    width: 100%;

    img {
        background-size: cover;
        border-radius: 50%;
        flex-shrink: 0;
        height: 40px;
        object-fit: cover;
        width: 40px;
    }

    mat-card {
        margin: 8px 200px;
    }

    a {
        color: #ce93d8;
        text-decoration: none;
    }

    .header-actions {
        display: flex;
        margin: 24px;
        padding: 0 20%;
    }

    .header-checkbox {
        display: flex;
        justify-content: center;

        mat-checkbox {
            display: flex;
        }
    }

    .edit-btn {
        position: absolute;
        right: 40px;
        top: 12px;
    }

    p {
        margin-left: 56px;
    }
}
