<div>
    <mat-card>
        <mat-card-content>
            <mat-tab-group [selectedIndex]="stepIndex">
                <mat-tab label="First">
                    <span class="mat-display-2">Welcome</span>
                    <div class="login-form">
                        <mat-form-field>
                            <input #loginInput matInput placeholder="Login">
                        </mat-form-field>
                        <mat-form-field>
                            <input #passInput [type]="'password'" matInput placeholder="Password">
                        </mat-form-field>
                    </div>
                </mat-tab>
                <mat-tab label="Second">
                    <span class="mat-display-2">Create new user</span>
                    <div class="login-form">
                        <mat-form-field>
                            <input #newLoginInput matInput placeholder="Login">
                        </mat-form-field>
                        <mat-form-field>
                            <input #newPassInput [type]="'password'" matInput placeholder="Password">
                        </mat-form-field>
                        <mat-form-field>
                            <input #newReEnterPassInput [type]="'password'" matInput placeholder="Re-enter password">
                        </mat-form-field>
                    </div>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
        <mat-card-actions align="end">
            <a
                    (click)="stepIndex = stepIndex === 1 ? 0: 1" color="primary"
                    mat-button>{{stepIndex === 1 ? 'Cancel' : 'Sign up'}}</a>
            <button
                    (click)="stepIndex === 1 ? createUser() : login()" color="primary"
                    mat-raised-button>
                {{stepIndex === 1 ? 'Create' : 'Sign in'}}
            </button>
        </mat-card-actions>
    </mat-card>
</div>


